form {
  max-width: 600px;
  margin: 1em auto;
  padding: 2em;
  border: 2px solid rgb(254, 251, 251);
  flex: 4;
  display: grid;
  grid-gap: 8px;
  flex-direction: column;
}

.element {
  display: flex;
}

label {
  font-family: Mulish-Light;
  font-size: smaller;
  color: rgb(77, 76, 76);
  text-align: left;
  flex: 2;
}

input,
option {
  flex: 2;
  text-align: right;
}

#property-type,
#price-range,
#comments {
  flex: 2;
}

.btn #register,
.btn #clear {
  font-family: Mulish-Light;
  color: rgb(15, 15, 19);
  background-color: rgb(236, 199, 151);
  padding: 7px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: rgb(9, 28, 83);
  border-radius: 8px;
}

.btn #register:hover:enabled {
  cursor: pointer;
  background-color: #2cde2c;
  color: rgb(248, 250, 252);
}

.btn #clear:hover:enabled {
  cursor: pointer;
  background-color: #e8162e;
  color: rgb(248, 250, 252);
}

/* Media Query for Screens Smaller than 400px */
@media screen and (max-width: 400px) {
  label {
    font-size: 12px; /* Decrease font size for better readability on small screens */
  }

  .btn {
    padding: 5px 8px; /* Adjust padding for better button appearance on small screens */
  }
}

/* Media Query for Screens Larger than 400px */
@media screen and (min-width: 401px) {
  form {
    padding: 2em 4em; /* Adjust padding for larger screens */
  }

  label {
    font-size: 16px; /* Increase font size for larger screens */
  }

  .btn {
    padding: 10px 15px; /* Adjust padding for larger buttons on larger screens */
  }
}
